name: Github actions work flow

on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - main
  workflow_dispatch:
  
jobs: 
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Clone repo
        uses: actions/checkout@v4
      
      - name: Build docker img
        run: "docker build -t workflows-test . "
      
      - name: Run docker container
        run: "docker run --rm workflow-test"
        
    
